<?xml version="1.0"?>

<ruleset name="Pronamic WordPress Number rules">
	<file>.</file>

	<exclude-pattern>tests/wp-config.php</exclude-pattern>

	<rule ref="PronamicWP">
		<exclude name="PHPCompatibility.Miscellaneous.ValidIntegers.HexNumericStringFound" />
    </rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.runtime_configuration_putenv">
		<exclude-pattern>/tests/bootstrap.php</exclude-pattern>
	</rule>
</ruleset>
