<?xml version="1.0"?>

<ruleset name="Pronamic WordPress Number rules">
	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.6-" />

	<file>.</file>

	<arg name="colors"/>
	<arg name="extensions" value="php" />
	<arg name="parallel" value="8" />
	<arg value="sp" />

	<exclude-pattern>tests/wp-config.php</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>vendor-bin/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>

	<rule ref="PHPCompatibilityWP" />
	<rule ref="VariableAnalysis" />

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.runtime_configuration_putenv">
		<exclude-pattern>/tests/bootstrap.php</exclude-pattern>
	</rule>

	<rule ref="WordPressVIPMinimum" />
	<rule ref="WordPress-VIP-Go" />
</ruleset>
